In [1]:
# 인증키 : EB888971-ED68-4ECA-AD4D-3CB98768F6AD

# 한강 수위
# https://api.hrfco.go.kr/ServiceKey/waterlevel/list/10M.xml

# 강수량
# https://api.hrfco.go.kr/ServiceKey/rainfall/list/10M.xml

# 댐
# https://api.hrfco.go.kr/ServiceKey/dam/list/10M.xml

In [2]:
# import requests
# import xml.etree.ElementTree as ET
# import pandas as pd

# # URL 입력
# url = 'https://api.hrfco.go.kr/52832662-D130-4239-9C5F-730AD3BE6BC6/waterlevel/list/1H/1018683/2010010100/2010123123.xml'

# # URL 불러오기
# response = requests.get(url)

# # XML 파싱
# tree = ET.ElementTree(ET.fromstring(response.content))

# # DataFrame으로 변환
# data = []
# for waterlevel in tree.iter('Waterlevel'):
#     fw = waterlevel.findtext('fw').strip() if waterlevel.find('fw') is not None else None
#     wl = waterlevel.findtext('wl').strip() if waterlevel.find('wl') is not None else None
#     wlobscd = waterlevel.findtext('wlobscd').strip() if waterlevel.find('wlobscd') is not None else None
#     ymdhm = waterlevel.findtext('ymdhm').strip() if waterlevel.find('ymdhm') is not None else None
    
#     data.append({'fw': fw, 'wl': wl, 'wlobscd': wlobscd, 'ymdhm': ymdhm})

# water_level_df = pd.DataFrame(data)
# water_level_df

In [3]:
import requests
import xml.etree.ElementTree as ET
import pandas as pd
from datetime import datetime, timedelta

observatory_codes = [1018640, 1018655, 1018658, 1018662, 1018669, 
                     1018670, 1018675, 1018680, 1018683, 1018692,
                     1018695, 1018697, 1018698, 1019630]
observatory_codes = [str(code) for code in observatory_codes]

C:\Users\chaemin\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
# 데이터를 저장할 빈 리스트 생성
all_data = []

# URL 기본 부분
base_url = 'https://api.hrfco.go.kr/52832662-D130-4239-9C5F-730AD3BE6BC6/waterlevel/list/1H/'

for code in observatory_codes:
    # 시작 날짜 설정
    start_date = datetime(2010, 1, 1, 0, 0)
    end_date = datetime(2010, 12, 31, 23, 0)    
    # 시작 날짜부터 끝 날짜까지 데이터 가져오기
    while start_date <= datetime(2023, 12, 31, 23, 0):
        # 날짜를 문자열로 변환하여 URL에 포함
        start_date_str = start_date.strftime('%Y%m%d%H')
        end_date_str = end_date.strftime('%Y%m%d%H')
        url = base_url + code + '/' + start_date_str + '/' + end_date_str + '.xml'
        print(code, start_date, end_date)
        # URL 불러오기
        response = requests.get(url)

        # XML 파싱
        tree = ET.ElementTree(ET.fromstring(response.content))

        # DataFrame으로 변환
        data = []
        for waterlevel in tree.iter('Waterlevel'):
            fw = waterlevel.findtext('fw').strip() if waterlevel.find('fw') is not None else None
            wl = waterlevel.findtext('wl').strip() if waterlevel.find('wl') is not None else None
            wlobscd = waterlevel.findtext('wlobscd').strip() if waterlevel.find('wlobscd') is not None else None
            ymdhm = waterlevel.findtext('ymdhm').strip() if waterlevel.find('ymdhm') is not None else None

            data.append({'fw': fw, 'wl': wl, 'wlobscd': wlobscd, 'ymdhm': ymdhm})

        # 전체 데이터 리스트에 추가
        all_data.extend(data)

        # 다음 연도로 이동
        start_date = datetime(start_date.year + 1, 1, 1, 0, 0)
        end_date = datetime(end_date.year + 1, 12, 31, 23, 0)

# DataFrame 생성
water_level_df = pd.DataFrame(all_data)
water_level_df

C:\Users\chaemin\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

1018640 2010-01-01 00:00:00 2010-12-31 23:00:00
1018640 2011-01-01 00:00:00 2011-12-31 23:00:00
1018640 2012-01-01 00:00:00 2012-12-31 23:00:00
1018640 2013-01-01 00:00:00 2013-12-31 23:00:00
1018640 2014-01-01 00:00:00 2014-12-31 23:00:00
1018640 2015-01-01 00:00:00 2015-12-31 23:00:00
1018640 2016-01-01 00:00:00 2016-12-31 23:00:00
1018640 2017-01-01 00:00:00 2017-12-31 23:00:00
1018640 2018-01-01 00:00:00 2018-12-31 23:00:00
1018640 2019-01-01 00:00:00 2019-12-31 23:00:00
1018640 2020-01-01 00:00:00 2020-12-31 23:00:00
1018640 2021-01-01 00:00:00 2021-12-31 23:00:00
1018640 2022-01-01 00:00:00 2022-12-31 23:00:00
1018640 2023-01-01 00:00:00 2023-12-31 23:00:00
1018655 2010-01-01 00:00:00 2010-12-31 23:00:00
1018655 2011-01-01 00:00:00 2011-12-31 23:00:00
1018655 2012-01-01 00:00:00 2012-12-31 23:00:00
1018655 2013-01-01 00:00:00 2013-12-31 23:00:00
1018655 2014-01-01 00:00:00 2014-12-31 23:00:00
1018655 2015-01-01 00:00:00 2015-12-31 23:00:00
1018655 2016-01-01 00:00:00 2016-12-31 23:00:00
1018655 2017-01-01 00:00:00 2017-12-31 23:00:00
1018655 2018-01-01 00:00:00 2018-12-31 23:00:00
1018655 2019-01-01 00:00:00 2019-12-31 23:00:00
1018655 2020-01-01 00:00:00 2020-12-31 23:00:00
1018655 2021-01-01 00:00:00 2021-12-31 23:00:00
1018655 2022-01-01 00:00:00 2022-12-31 23:00:00
1018655 2023-01-01 00:00:00 2023-12-31 23:00:00
1018658 2010-01-01 00:00:00 2010-12-31 23:00:00
1018658 2011-01-01 00:00:00 2011-12-31 23:00:00
1018658 2012-01-01 00:00:00 2012-12-31 23:00:00
1018658 2013-01-01 00:00:00 2013-12-31 23:00:00
1018658 2014-01-01 00:00:00 2014-12-31 23:00:00
1018658 2015-01-01 00:00:00 2015-12-31 23:00:00
1018658 2016-01-01 00:00:00 2016-12-31 23:00:00
1018658 2017-01-01 00:00:00 2017-12-31 23:00:00
1018658 2018-01-01 00:00:00 2018-12-31 23:00:00
1018658 2019-01-01 00:00:00 2019-12-31 23:00:00
1018658 2020-01-01 00:00:00 2020-12-31 23:00:00
1018658 2021-01-01 00:00:00 2021-12-31 23:00:00
1018658 2022-01-01 00:00:00 2022-12-31 23:00:00
1018658 2023-01-01 00:00:00 2023-12-31 23:00:00
1018662 2010-01-01 00:00:00 2010-12-31 23:00:00
1018662 2011-01-01 00:00:00 2011-12-31 23:00:00
1018662 2012-01-01 00:00:00 2012-12-31 23:00:00
1018662 2013-01-01 00:00:00 2013-12-31 23:00:00
1018662 2014-01-01 00:00:00 2014-12-31 23:00:00
1018662 2015-01-01 00:00:00 2015-12-31 23:00:00
1018662 2016-01-01 00:00:00 2016-12-31 23:00:00
1018662 2017-01-01 00:00:00 2017-12-31 23:00:00
1018662 2018-01-01 00:00:00 2018-12-31 23:00:00
1018662 2019-01-01 00:00:00 2019-12-31 23:00:00
1018662 2020-01-01 00:00:00 2020-12-31 23:00:00
1018662 2021-01-01 00:00:00 2021-12-31 23:00:00
1018662 2022-01-01 00:00:00 2022-12-31 23:00:00
1018662 2023-01-01 00:00:00 2023-12-31 23:00:00
1018669 2010-01-01 00:00:00 2010-12-31 23:00:00
1018669 2011-01-01 00:00:00 2011-12-31 23:00:00
1018669 2012-01-01 00:00:00 2012-12-31 23:00:00
1018669 2013-01-01 00:00:00 2013-12-31 23:00:00
1018669 2014-01-01 00:00:00 2014-12-31 23:00:00
1018669 2015-01-01 00:00:00 2015-12-31 23:00:00
1018669 2016-01-01 00:00:00 2016-12-31 23:00:00
1018669 2017-01-01 00:00:00 2017-12-31 23:00:00
1018669 2018-01-01 00:00:00 2018-12-31 23:00:00
1018669 2019-01-01 00:00:00 2019-12-31 23:00:00
1018669 2020-01-01 00:00:00 2020-12-31 23:00:00
1018669 2021-01-01 00:00:00 2021-12-31 23:00:00
1018669 2022-01-01 00:00:00 2022-12-31 23:00:00
1018669 2023-01-01 00:00:00 2023-12-31 23:00:00
1018670 2010-01-01 00:00:00 2010-12-31 23:00:00
1018670 2011-01-01 00:00:00 2011-12-31 23:00:00
1018670 2012-01-01 00:00:00 2012-12-31 23:00:00
1018670 2013-01-01 00:00:00 2013-12-31 23:00:00
1018670 2014-01-01 00:00:00 2014-12-31 23:00:00
1018670 2015-01-01 00:00:00 2015-12-31 23:00:00
1018670 2016-01-01 00:00:00 2016-12-31 23:00:00
1018670 2017-01-01 00:00:00 2017-12-31 23:00:00
1018670 2018-01-01 00:00:00 2018-12-31 23:00:00
1018670 2019-01-01 00:00:00 2019-12-31 23:00:00
1018670 2020-01-01 00:00:00 2020-12-31 23:00:00
1018670 2021-01-01 00:00:00 2021-12-31 23:00:00
1018670 2022-01-01 00:00:00 2022-12-31 23:00:00
1018670 2023-01-01 00:00:00 2023-12-31 23:00:00
1018675 2010-01-01 00:00:00 2010-12-31 23:00:00
1018675 2011-01-01 00:00:00 2011-12-31 23:00:00
1018675 2012-01-01 00:00:00 2012-12-31 23:00:00
1018675 2013-01-01 00:00:00 2013-12-31 23:00:00
1018675 2014-01-01 00:00:00 2014-12-31 23:00:00
1018675 2015-01-01 00:00:00 2015-12-31 23:00:00
1018675 2016-01-01 00:00:00 2016-12-31 23:00:00
1018675 2017-01-01 00:00:00 2017-12-31 23:00:00
1018675 2018-01-01 00:00:00 2018-12-31 23:00:00
1018675 2019-01-01 00:00:00 2019-12-31 23:00:00
1018675 2020-01-01 00:00:00 2020-12-31 23:00:00
1018675 2021-01-01 00:00:00 2021-12-31 23:00:00
1018675 2022-01-01 00:00:00 2022-12-31 23:00:00
1018675 2023-01-01 00:00:00 2023-12-31 23:00:00
1018680 2010-01-01 00:00:00 2010-12-31 23:00:00
1018680 2011-01-01 00:00:00 2011-12-31 23:00:00
1018680 2012-01-01 00:00:00 2012-12-31 23:00:00
1018680 2013-01-01 00:00:00 2013-12-31 23:00:00
1018680 2014-01-01 00:00:00 2014-12-31 23:00:00
1018680 2015-01-01 00:00:00 2015-12-31 23:00:00
1018680 2016-01-01 00:00:00 2016-12-31 23:00:00
1018680 2017-01-01 00:00:00 2017-12-31 23:00:00
1018680 2018-01-01 00:00:00 2018-12-31 23:00:00
1018680 2019-01-01 00:00:00 2019-12-31 23:00:00
1018680 2020-01-01 00:00:00 2020-12-31 23:00:00
1018680 2021-01-01 00:00:00 2021-12-31 23:00:00
1018680 2022-01-01 00:00:00 2022-12-31 23:00:00
1018680 2023-01-01 00:00:00 2023-12-31 23:00:00
1018683 2010-01-01 00:00:00 2010-12-31 23:00:00
1018683 2011-01-01 00:00:00 2011-12-31 23:00:00
1018683 2012-01-01 00:00:00 2012-12-31 23:00:00
1018683 2013-01-01 00:00:00 2013-12-31 23:00:00
1018683 2014-01-01 00:00:00 2014-12-31 23:00:00
1018683 2015-01-01 00:00:00 2015-12-31 23:00:00
1018683 2016-01-01 00:00:00 2016-12-31 23:00:00
1018683 2017-01-01 00:00:00 2017-12-31 23:00:00
1018683 2018-01-01 00:00:00 2018-12-31 23:00:00
1018683 2019-01-01 00:00:00 2019-12-31 23:00:00
1018683 2020-01-01 00:00:00 2020-12-31 23:00:00
1018683 2021-01-01 00:00:00 2021-12-31 23:00:00
1018683 2022-01-01 00:00:00 2022-12-31 23:00:00
1018683 2023-01-01 00:00:00 2023-12-31 23:00:00
1018692 2010-01-01 00:00:00 2010-12-31 23:00:00
1018692 2011-01-01 00:00:00 2011-12-31 23:00:00
1018692 2012-01-01 00:00:00 2012-12-31 23:00:00
1018692 2013-01-01 00:00:00 2013-12-31 23:00:00
1018692 2014-01-01 00:00:00 2014-12-31 23:00:00
1018692 2015-01-01 00:00:00 2015-12-31 23:00:00
1018692 2016-01-01 00:00:00 2016-12-31 23:00:00
1018692 2017-01-01 00:00:00 2017-12-31 23:00:00
1018692 2018-01-01 00:00:00 2018-12-31 23:00:00
1018692 2019-01-01 00:00:00 2019-12-31 23:00:00
1018692 2020-01-01 00:00:00 2020-12-31 23:00:00
1018692 2021-01-01 00:00:00 2021-12-31 23:00:00
1018692 2022-01-01 00:00:00 2022-12-31 23:00:00
1018692 2023-01-01 00:00:00 2023-12-31 23:00:00
1018695 2010-01-01 00:00:00 2010-12-31 23:00:00
1018695 2011-01-01 00:00:00 2011-12-31 23:00:00
1018695 2012-01-01 00:00:00 2012-12-31 23:00:00
1018695 2013-01-01 00:00:00 2013-12-31 23:00:00
1018695 2014-01-01 00:00:00 2014-12-31 23:00:00
1018695 2015-01-01 00:00:00 2015-12-31 23:00:00
1018695 2016-01-01 00:00:00 2016-12-31 23:00:00
1018695 2017-01-01 00:00:00 2017-12-31 23:00:00
1018695 2018-01-01 00:00:00 2018-12-31 23:00:00
1018695 2019-01-01 00:00:00 2019-12-31 23:00:00
1018695 2020-01-01 00:00:00 2020-12-31 23:00:00
1018695 2021-01-01 00:00:00 2021-12-31 23:00:00
1018695 2022-01-01 00:00:00 2022-12-31 23:00:00
1018695 2023-01-01 00:00:00 2023-12-31 23:00:00
1018697 2010-01-01 00:00:00 2010-12-31 23:00:00
1018697 2011-01-01 00:00:00 2011-12-31 23:00:00
1018697 2012-01-01 00:00:00 2012-12-31 23:00:00
1018697 2013-01-01 00:00:00 2013-12-31 23:00:00
1018697 2014-01-01 00:00:00 2014-12-31 23:00:00
1018697 2015-01-01 00:00:00 2015-12-31 23:00:00
1018697 2016-01-01 00:00:00 2016-12-31 23:00:00
1018697 2017-01-01 00:00:00 2017-12-31 23:00:00
1018697 2018-01-01 00:00:00 2018-12-31 23:00:00
1018697 2019-01-01 00:00:00 2019-12-31 23:00:00
1018697 2020-01-01 00:00:00 2020-12-31 23:00:00
1018697 2021-01-01 00:00:00 2021-12-31 23:00:00
1018697 2022-01-01 00:00:00 2022-12-31 23:00:00
1018697 2023-01-01 00:00:00 2023-12-31 23:00:00
1018698 2010-01-01 00:00:00 2010-12-31 23:00:00
1018698 2011-01-01 00:00:00 2011-12-31 23:00:00
1018698 2012-01-01 00:00:00 2012-12-31 23:00:00

1018698 2013-01-01 00:00:00 2013-12-31 23:00:00
1018698 2014-01-01 00:00:00 2014-12-31 23:00:00
1018698 2015-01-01 00:00:00 2015-12-31 23:00:00
1018698 2016-01-01 00:00:00 2016-12-31 23:00:00
1018698 2017-01-01 00:00:00 2017-12-31 23:00:00
1018698 2018-01-01 00:00:00 2018-12-31 23:00:00
1018698 2019-01-01 00:00:00 2019-12-31 23:00:00
1018698 2020-01-01 00:00:00 2020-12-31 23:00:00
1018698 2021-01-01 00:00:00 2021-12-31 23:00:00
1018698 2022-01-01 00:00:00 2022-12-31 23:00:00
1018698 2023-01-01 00:00:00 2023-12-31 23:00:00
1019630 2010-01-01 00:00:00 2010-12-31 23:00:00
1019630 2011-01-01 00:00:00 2011-12-31 23:00:00
1019630 2012-01-01 00:00:00 2012-12-31 23:00:00
1019630 2013-01-01 00:00:00 2013-12-31 23:00:00
1019630 2014-01-01 00:00:00 2014-12-31 23:00:00
1019630 2015-01-01 00:00:00 2015-12-31 23:00:00
1019630 2016-01-01 00:00:00 2016-12-31 23:00:00
1019630 2017-01-01 00:00:00 2017-12-31 23:00:00
1019630 2018-01-01 00:00:00 2018-12-31 23:00:00
1019630 2019-01-01 00:00:00 2019-12-31 23:00:00
1019630 2020-01-01 00:00:00 2020-12-31 23:00:00
1019630 2021-01-01 00:00:00 2021-12-31 23:00:00
1019630 2022-01-01 00:00:00 2022-12-31 23:00:00
1019630 2023-01-01 00:00:00 2023-12-31 23:00:00

              fw    wl  wlobscd       ymdhm
0        2133.40  1.11  1018640  2010123123
1        2133.40  1.11  1018640  2010123122
2        2133.40  1.12  1018640  2010123121
3        2133.40  1.13  1018640  2010123120
4        2133.40  1.16  1018640  2010123119
...          ...   ...      ...         ...
1716997   275.44  1.69  1019630  2023010104
1716998   283.96  1.70  1019630  2023010103
1716999   292.61  1.71  1019630  2023010102
1717000   292.61  1.71  1019630  2023010101
1717001   292.61  1.71  1019630  2023010100

[1717002 rows x 4 columns]

In [8]:
start_date

datetime.datetime(2024, 1, 1, 0, 0)

In [5]:
# 데이터를 저장할 빈 리스트 생성
all_data = []

# URL 기본 부분
base_url = 'https://api.hrfco.go.kr/52832662-D130-4239-9C5F-730AD3BE6BC6/rainfall/list/1H/'

for code in observatory_codes:
    # 시작 날짜 설정
    start_date = datetime(2010, 1, 1, 0, 0)
    end_date = datetime(2010, 12, 31, 23, 0)
    # 시작 날짜부터 끝 날짜까지 데이터 가져오기
    while start_date <= datetime(2023, 12, 31, 23, 0):
        # 날짜를 문자열로 변환하여 URL에 포함
        start_date_str = start_date.strftime('%Y%m%d%H')
        end_date_str = end_date.strftime('%Y%m%d%H')
        url = base_url + code + '/' + start_date_str + '/' + end_date_str + '.xml'
        print(code, start_date, end_date)
        # URL 불러오기
        response = requests.get(url)

        # XML 파싱
        tree = ET.ElementTree(ET.fromstring(response.content))

        # DataFrame으로 변환
        data = []
        for rainfall in tree.iter('Rainfall'):
            rf = rainfall.findtext('rf').strip() if rainfall.find('rf') is not None else None
            rfobscd = rainfall.findtext('rfobscd').strip() if rainfall.find('rfobscd') is not None else None
            ymdhm = rainfall.findtext('ymdhm').strip() if rainfall.find('ymdhm') is not None else None

            data.append({'rf': rf, 'rfobscd': rfobscd, 'ymdhm': ymdhm})

        # 전체 데이터 리스트에 추가
        all_data.extend(data)

        # 다음 연도로 이동
        start_date = datetime(start_date.year + 1, 1, 1, 0, 0)
        end_date = datetime(end_date.year + 1, 12, 31, 23, 0)

# DataFrame 생성
rainfall_df = pd.DataFrame(all_data)
rainfall_df

1018640 2010-01-01 00:00:00 2010-12-31 23:00:00
1018640 2011-01-01 00:00:00 2011-12-31 23:00:00
1018640 2012-01-01 00:00:00 2012-12-31 23:00:00
1018640 2013-01-01 00:00:00 2013-12-31 23:00:00
1018640 2014-01-01 00:00:00 2014-12-31 23:00:00
1018640 2015-01-01 00:00:00 2015-12-31 23:00:00
1018640 2016-01-01 00:00:00 2016-12-31 23:00:00
1018640 2017-01-01 00:00:00 2017-12-31 23:00:00
1018640 2018-01-01 00:00:00 2018-12-31 23:00:00
1018640 2019-01-01 00:00:00 2019-12-31 23:00:00
1018640 2020-01-01 00:00:00 2020-12-31 23:00:00
1018640 2021-01-01 00:00:00 2021-12-31 23:00:00
1018640 2022-01-01 00:00:00 2022-12-31 23:00:00
1018640 2023-01-01 00:00:00 2023-12-31 23:00:00
1018655 2010-01-01 00:00:00 2010-12-31 23:00:00
1018655 2011-01-01 00:00:00 2011-12-31 23:00:00
1018655 2012-01-01 00:00:00 2012-12-31 23:00:00
1018655 2013-01-01 00:00:00 2013-12-31 23:00:00
1018655 2014-01-01 00:00:00 2014-12-31 23:00:00
1018655 2015-01-01 00:00:00 2015-12-31 23:00:00
1018655 2016-01-01 00:00:00 2016-12-31 23:00:00
1018655 2017-01-01 00:00:00 2017-12-31 23:00:00
1018655 2018-01-01 00:00:00 2018-12-31 23:00:00
1018655 2019-01-01 00:00:00 2019-12-31 23:00:00
1018655 2020-01-01 00:00:00 2020-12-31 23:00:00
1018655 2021-01-01 00:00:00 2021-12-31 23:00:00
1018655 2022-01-01 00:00:00 2022-12-31 23:00:00
1018655 2023-01-01 00:00:00 2023-12-31 23:00:00
1018658 2010-01-01 00:00:00 2010-12-31 23:00:00
1018658 2011-01-01 00:00:00 2011-12-31 23:00:00
1018658 2012-01-01 00:00:00 2012-12-31 23:00:00
1018658 2013-01-01 00:00:00 2013-12-31 23:00:00
1018658 2014-01-01 00:00:00 2014-12-31 23:00:00
1018658 2015-01-01 00:00:00 2015-12-31 23:00:00
1018658 2016-01-01 00:00:00 2016-12-31 23:00:00
1018658 2017-01-01 00:00:00 2017-12-31 23:00:00
1018658 2018-01-01 00:00:00 2018-12-31 23:00:00
1018658 2019-01-01 00:00:00 2019-12-31 23:00:00
1018658 2020-01-01 00:00:00 2020-12-31 23:00:00
1018658 2021-01-01 00:00:00 2021-12-31 23:00:00
1018658 2022-01-01 00:00:00 2022-12-31 23:00:00
1018658 2023-01-01 00:00:00 2023-12-31 23:00:00
1018662 2010-01-01 00:00:00 2010-12-31 23:00:00
1018662 2011-01-01 00:00:00 2011-12-31 23:00:00
1018662 2012-01-01 00:00:00 2012-12-31 23:00:00
1018662 2013-01-01 00:00:00 2013-12-31 23:00:00
1018662 2014-01-01 00:00:00 2014-12-31 23:00:00
1018662 2015-01-01 00:00:00 2015-12-31 23:00:00
1018662 2016-01-01 00:00:00 2016-12-31 23:00:00
1018662 2017-01-01 00:00:00 2017-12-31 23:00:00
1018662 2018-01-01 00:00:00 2018-12-31 23:00:00
1018662 2019-01-01 00:00:00 2019-12-31 23:00:00
1018662 2020-01-01 00:00:00 2020-12-31 23:00:00
1018662 2021-01-01 00:00:00 2021-12-31 23:00:00
1018662 2022-01-01 00:00:00 2022-12-31 23:00:00
1018662 2023-01-01 00:00:00 2023-12-31 23:00:00
1018669 2010-01-01 00:00:00 2010-12-31 23:00:00
1018669 2011-01-01 00:00:00 2011-12-31 23:00:00
1018669 2012-01-01 00:00:00 2012-12-31 23:00:00
1018669 2013-01-01 00:00:00 2013-12-31 23:00:00
1018669 2014-01-01 00:00:00 2014-12-31 23:00:00
1018669 2015-01-01 00:00:00 2015-12-31 23:00:00
1018669 2016-01-01 00:00:00 2016-12-31 23:00:00
1018669 2017-01-01 00:00:00 2017-12-31 23:00:00
1018669 2018-01-01 00:00:00 2018-12-31 23:00:00
1018669 2019-01-01 00:00:00 2019-12-31 23:00:00
1018669 2020-01-01 00:00:00 2020-12-31 23:00:00
1018669 2021-01-01 00:00:00 2021-12-31 23:00:00
1018669 2022-01-01 00:00:00 2022-12-31 23:00:00
1018669 2023-01-01 00:00:00 2023-12-31 23:00:00
1018670 2010-01-01 00:00:00 2010-12-31 23:00:00
1018670 2011-01-01 00:00:00 2011-12-31 23:00:00
1018670 2012-01-01 00:00:00 2012-12-31 23:00:00
1018670 2013-01-01 00:00:00 2013-12-31 23:00:00
1018670 2014-01-01 00:00:00 2014-12-31 23:00:00
1018670 2015-01-01 00:00:00 2015-12-31 23:00:00
1018670 2016-01-01 00:00:00 2016-12-31 23:00:00
1018670 2017-01-01 00:00:00 2017-12-31 23:00:00
1018670 2018-01-01 00:00:00 2018-12-31 23:00:00
1018670 2019-01-01 00:00:00 2019-12-31 23:00:00
1018670 2020-01-01 00:00:00 2020-12-31 23:00:00
1018670 2021-01-01 00:00:00 2021-12-31 23:00:00
1018670 2022-01-01 00:00:00 2022-12-31 23:00:00
1018670 2023-01-01 00:00:00 2023-12-31 23:00:00
1018675 2010-01-01 00:00:00 2010-12-31 23:00:00
1018675 2011-01-01 00:00:00 2011-12-31 23:00:00
1018675 2012-01-01 00:00:00 2012-12-31 23:00:00
1018675 2013-01-01 00:00:00 2013-12-31 23:00:00
1018675 2014-01-01 00:00:00 2014-12-31 23:00:00
1018675 2015-01-01 00:00:00 2015-12-31 23:00:00
1018675 2016-01-01 00:00:00 2016-12-31 23:00:00
1018675 2017-01-01 00:00:00 2017-12-31 23:00:00
1018675 2018-01-01 00:00:00 2018-12-31 23:00:00
1018675 2019-01-01 00:00:00 2019-12-31 23:00:00
1018675 2020-01-01 00:00:00 2020-12-31 23:00:00
1018675 2021-01-01 00:00:00 2021-12-31 23:00:00
1018675 2022-01-01 00:00:00 2022-12-31 23:00:00
1018675 2023-01-01 00:00:00 2023-12-31 23:00:00
1018680 2010-01-01 00:00:00 2010-12-31 23:00:00
1018680 2011-01-01 00:00:00 2011-12-31 23:00:00
1018680 2012-01-01 00:00:00 2012-12-31 23:00:00
1018680 2013-01-01 00:00:00 2013-12-31 23:00:00
1018680 2014-01-01 00:00:00 2014-12-31 23:00:00
1018680 2015-01-01 00:00:00 2015-12-31 23:00:00
1018680 2016-01-01 00:00:00 2016-12-31 23:00:00
1018680 2017-01-01 00:00:00 2017-12-31 23:00:00
1018680 2018-01-01 00:00:00 2018-12-31 23:00:00
1018680 2019-01-01 00:00:00 2019-12-31 23:00:00
1018680 2020-01-01 00:00:00 2020-12-31 23:00:00
1018680 2021-01-01 00:00:00 2021-12-31 23:00:00
1018680 2022-01-01 00:00:00 2022-12-31 23:00:00
1018680 2023-01-01 00:00:00 2023-12-31 23:00:00
1018683 2010-01-01 00:00:00 2010-12-31 23:00:00
1018683 2011-01-01 00:00:00 2011-12-31 23:00:00
1018683 2012-01-01 00:00:00 2012-12-31 23:00:00
1018683 2013-01-01 00:00:00 2013-12-31 23:00:00
1018683 2014-01-01 00:00:00 2014-12-31 23:00:00
1018683 2015-01-01 00:00:00 2015-12-31 23:00:00
1018683 2016-01-01 00:00:00 2016-12-31 23:00:00
1018683 2017-01-01 00:00:00 2017-12-31 23:00:00
1018683 2018-01-01 00:00:00 2018-12-31 23:00:00
1018683 2019-01-01 00:00:00 2019-12-31 23:00:00
1018683 2020-01-01 00:00:00 2020-12-31 23:00:00
1018683 2021-01-01 00:00:00 2021-12-31 23:00:00
1018683 2022-01-01 00:00:00 2022-12-31 23:00:00
1018683 2023-01-01 00:00:00 2023-12-31 23:00:00
1018692 2010-01-01 00:00:00 2010-12-31 23:00:00
1018692 2011-01-01 00:00:00 2011-12-31 23:00:00
1018692 2012-01-01 00:00:00 2012-12-31 23:00:00
1018692 2013-01-01 00:00:00 2013-12-31 23:00:00
1018692 2014-01-01 00:00:00 2014-12-31 23:00:00
1018692 2015-01-01 00:00:00 2015-12-31 23:00:00
1018692 2016-01-01 00:00:00 2016-12-31 23:00:00
1018692 2017-01-01 00:00:00 2017-12-31 23:00:00
1018692 2018-01-01 00:00:00 2018-12-31 23:00:00
1018692 2019-01-01 00:00:00 2019-12-31 23:00:00
1018692 2020-01-01 00:00:00 2020-12-31 23:00:00
1018692 2021-01-01 00:00:00 2021-12-31 23:00:00
1018692 2022-01-01 00:00:00 2022-12-31 23:00:00
1018692 2023-01-01 00:00:00 2023-12-31 23:00:00
1018695 2010-01-01 00:00:00 2010-12-31 23:00:00
1018695 2011-01-01 00:00:00 2011-12-31 23:00:00
1018695 2012-01-01 00:00:00 2012-12-31 23:00:00
1018695 2013-01-01 00:00:00 2013-12-31 23:00:00
1018695 2014-01-01 00:00:00 2014-12-31 23:00:00
1018695 2015-01-01 00:00:00 2015-12-31 23:00:00
1018695 2016-01-01 00:00:00 2016-12-31 23:00:00
1018695 2017-01-01 00:00:00 2017-12-31 23:00:00
1018695 2018-01-01 00:00:00 2018-12-31 23:00:00
1018695 2019-01-01 00:00:00 2019-12-31 23:00:00
1018695 2020-01-01 00:00:00 2020-12-31 23:00:00
1018695 2021-01-01 00:00:00 2021-12-31 23:00:00
1018695 2022-01-01 00:00:00 2022-12-31 23:00:00
1018695 2023-01-01 00:00:00 2023-12-31 23:00:00
1018697 2010-01-01 00:00:00 2010-12-31 23:00:00
1018697 2011-01-01 00:00:00 2011-12-31 23:00:00
1018697 2012-01-01 00:00:00 2012-12-31 23:00:00
1018697 2013-01-01 00:00:00 2013-12-31 23:00:00
1018697 2014-01-01 00:00:00 2014-12-31 23:00:00
1018697 2015-01-01 00:00:00 2015-12-31 23:00:00
1018697 2016-01-01 00:00:00 2016-12-31 23:00:00
1018697 2017-01-01 00:00:00 2017-12-31 23:00:00
1018697 2018-01-01 00:00:00 2018-12-31 23:00:00
1018697 2019-01-01 00:00:00 2019-12-31 23:00:00
1018697 2020-01-01 00:00:00 2020-12-31 23:00:00
1018697 2021-01-01 00:00:00 2021-12-31 23:00:00
1018697 2022-01-01 00:00:00 2022-12-31 23:00:00
1018697 2023-01-01 00:00:00 2023-12-31 23:00:00
1018698 2010-01-01 00:00:00 2010-12-31 23:00:00
1018698 2011-01-01 00:00:00 2011-12-31 23:00:00
1018698 2012-01-01 00:00:00 2012-12-31 23:00:00

1018698 2013-01-01 00:00:00 2013-12-31 23:00:00
1018698 2014-01-01 00:00:00 2014-12-31 23:00:00
1018698 2015-01-01 00:00:00 2015-12-31 23:00:00
1018698 2016-01-01 00:00:00 2016-12-31 23:00:00
1018698 2017-01-01 00:00:00 2017-12-31 23:00:00
1018698 2018-01-01 00:00:00 2018-12-31 23:00:00
1018698 2019-01-01 00:00:00 2019-12-31 23:00:00
1018698 2020-01-01 00:00:00 2020-12-31 23:00:00
1018698 2021-01-01 00:00:00 2021-12-31 23:00:00
1018698 2022-01-01 00:00:00 2022-12-31 23:00:00
1018698 2023-01-01 00:00:00 2023-12-31 23:00:00
1019630 2010-01-01 00:00:00 2010-12-31 23:00:00
1019630 2011-01-01 00:00:00 2011-12-31 23:00:00
1019630 2012-01-01 00:00:00 2012-12-31 23:00:00
1019630 2013-01-01 00:00:00 2013-12-31 23:00:00
1019630 2014-01-01 00:00:00 2014-12-31 23:00:00
1019630 2015-01-01 00:00:00 2015-12-31 23:00:00
1019630 2016-01-01 00:00:00 2016-12-31 23:00:00
1019630 2017-01-01 00:00:00 2017-12-31 23:00:00
1019630 2018-01-01 00:00:00 2018-12-31 23:00:00
1019630 2019-01-01 00:00:00 2019-12-31 23:00:00
1019630 2020-01-01 00:00:00 2020-12-31 23:00:00
1019630 2021-01-01 00:00:00 2021-12-31 23:00:00
1019630 2022-01-01 00:00:00 2022-12-31 23:00:00
1019630 2023-01-01 00:00:00 2023-12-31 23:00:00

          rf  rfobscd       ymdhm
0        0.0  1018640  2010123123
1        0.0  1018640  2010123122
2        0.0  1018640  2010123121
3        0.0  1018640  2010123120
4        0.0  1018640  2010123119
...      ...      ...         ...
1716997  0.0  1019630  2023010104
1716998  0.0  1019630  2023010103
1716999  0.0  1019630  2023010102
1717000  0.0  1019630  2023010101
1717001  0.0  1019630  2023010100

[1717002 rows x 3 columns]

In [6]:
water_level_df = water_level_df.sort_values(by='ymdhm')
rainfall_df = rainfall_df.sort_values(by='ymdhm')

water_level_df.to_csv('2010~2023_water_level.csv', encoding='utf-8', index=False)
rainfall_df.to_csv('2010~2023_rainfall.csv', encoding='utf-8', index=False)

In [3]:
import requests
import xml.etree.ElementTree as ET
from datetime import datetime
import pandas as pd

# 데이터를 저장할 빈 리스트 생성
all_data = []

# URL 기본 부분
base_url = 'https://api.hrfco.go.kr/52832662-D130-4239-9C5F-730AD3BE6BC6/dam/list/1H/'
codes = ['1017310', '1003110']

# 시작 날짜 설정
start_date = datetime(2010, 1, 1, 0, 0)
end_date = datetime(2010, 12, 31, 23, 0)

# 코드 반복
for code in codes:
    # 코드마다 시작 날짜와 끝 날짜 초기화
    current_start_date = start_date
    current_end_date = end_date
    
    # 시작 날짜부터 끝 날짜까지 데이터 가져오기
    while current_start_date <= datetime(2023, 12, 31, 23, 0):  # 2023년까지만 가져오도록 수정
        # 날짜를 문자열로 변환하여 URL에 포함
        start_date_str = current_start_date.strftime('%Y%m%d%H')
        end_date_str = current_end_date.strftime('%Y%m%d%H')
        url = base_url + code + '/' + start_date_str + '/' + end_date_str + '.xml'
        print(code, current_start_date, current_end_date)
        # URL 불러오기
        response = requests.get(url)

        # XML 파싱
        tree = ET.ElementTree(ET.fromstring(response.content))

        # DataFrame으로 변환
        data = []
        for dam in tree.iter('Dam'):
            dmobscd = dam.findtext('dmobscd').strip() if dam.find('dmobscd') is not None else None
            ecpc = dam.findtext('ecpc').strip() if dam.find('ecpc') is not None else None
            inf = dam.findtext('inf').strip() if dam.find('inf') is not None else None
            sfw = dam.findtext('sfw').strip() if dam.find('sfw') is not None else None
            swl = dam.findtext('swl').strip() if dam.find('swl') is not None else None
            tototf = dam.findtext('tototf').strip() if dam.find('tototf') is not None else None
            ymdhm = dam.findtext('ymdhm').strip() if dam.find('ymdhm') is not None else None

            data.append({'dmobscd': dmobscd, 'ecpc': ecpc, 'inf': inf, 'sfw': sfw, 'swl': swl, 'tototf': tototf, 'ymdhm': ymdhm})

        # 전체 데이터 리스트에 추가
        all_data.extend(data)

        # 다음 연도로 이동
        current_start_date = datetime(current_start_date.year + 1, 1, 1, 0, 0)
        current_end_date = datetime(current_end_date.year + 1, 12, 31, 23, 0)

# DataFrame 생성
dam_df = pd.DataFrame(all_data)
dam_df

1017310 2009-12-31 00:00:00 2009-12-31 23:00:00
1017310 2010-01-01 00:00:00 2010-12-31 23:00:00
1017310 2011-01-01 00:00:00 2011-12-31 23:00:00
1017310 2012-01-01 00:00:00 2012-12-31 23:00:00
1017310 2013-01-01 00:00:00 2013-12-31 23:00:00
1017310 2014-01-01 00:00:00 2014-12-31 23:00:00
1017310 2015-01-01 00:00:00 2015-12-31 23:00:00
1017310 2016-01-01 00:00:00 2016-12-31 23:00:00
1017310 2017-01-01 00:00:00 2017-12-31 23:00:00
1017310 2018-01-01 00:00:00 2018-12-31 23:00:00
1017310 2019-01-01 00:00:00 2019-12-31 23:00:00
1017310 2020-01-01 00:00:00 2020-12-31 23:00:00
1017310 2021-01-01 00:00:00 2021-12-31 23:00:00
1017310 2022-01-01 00:00:00 2022-12-31 23:00:00
1017310 2023-01-01 00:00:00 2023-12-31 23:00:00
1017310 2024-01-01 00:00:00 2024-12-31 23:00:00
1017310 2025-01-01 00:00:00 2025-12-31 23:00:00
1017310 2026-01-01 00:00:00 2026-12-31 23:00:00
1017310 2027-01-01 00:00:00 2027-12-31 23:00:00
1017310 2028-01-01 00:00:00 2028-12-31 23:00:00
1017310 2029-01-01 00:00:00 2029-12-31 23:00:00
1017310 2030-01-01 00:00:00 2030-12-31 23:00:00
1017310 2031-01-01 00:00:00 2031-12-31 23:00:00
1017310 2032-01-01 00:00:00 2032-12-31 23:00:00
1017310 2033-01-01 00:00:00 2033-12-31 23:00:00
1017310 2034-01-01 00:00:00 2034-12-31 23:00:00
1017310 2035-01-01 00:00:00 2035-12-31 23:00:00

KeyboardInterrupt:

In [5]:
import requests
import xml.etree.ElementTree as ET
from datetime import datetime
import pandas as pd

# 데이터를 저장할 빈 리스트 생성
all_data = []

# URL 기본 부분
base_url = 'https://api.hrfco.go.kr/52832662-D130-4239-9C5F-730AD3BE6BC6/dam/list/1H/'
codes = ['1017310', '1003110']

# 특정 날짜 설정 (2009년 12월 31일)
target_date = datetime(2009, 12, 31, 0, 0)
target_end_date = datetime(2009, 12, 31, 23, 0)

# 코드 반복
for code in codes:
    # 날짜를 문자열로 변환하여 URL에 포함
    start_date_str = target_date.strftime('%Y%m%d%H')
    end_date_str = target_end_date.strftime('%Y%m%d%H')
    url = base_url + code + '/' + start_date_str + '/' + end_date_str + '.xml'
    print(code, target_date, target_end_date)
    
    # URL 불러오기
    response = requests.get(url)

    # XML 파싱
    tree = ET.ElementTree(ET.fromstring(response.content))

    # DataFrame으로 변환
    data = []
    for dam in tree.iter('Dam'):
        dmobscd = dam.findtext('dmobscd').strip() if dam.find('dmobscd') is not None else None
        ecpc = dam.findtext('ecpc').strip() if dam.find('ecpc') is not None else None
        inf = dam.findtext('inf').strip() if dam.find('inf') is not None else None
        sfw = dam.findtext('sfw').strip() if dam.find('sfw') is not None else None
        swl = dam.findtext('swl').strip() if dam.find('swl') is not None else None
        tototf = dam.findtext('tototf').strip() if dam.find('tototf') is not None else None
        ymdhm = dam.findtext('ymdhm').strip() if dam.find('ymdhm') is not None else None

        data.append({'dmobscd': dmobscd, 'ecpc': ecpc, 'inf': inf, 'sfw': sfw, 'swl': swl, 'tototf': tototf, 'ymdhm': ymdhm})

    # 전체 데이터 리스트에 추가
    all_data.extend(data)

# DataFrame 생성
dam_df = pd.DataFrame(all_data)
dam_df

1017310 2009-12-31 00:00:00 2009-12-31 23:00:00
1003110 2009-12-31 00:00:00 2009-12-31 23:00:00

    dmobscd    ecpc      inf      sfw     swl   tototf       ymdhm
0   1017310  12.390   42.600  231.610  25.156  176.000  2009123123
1   1017310  10.750  171.500  233.250  25.201  171.500  2009123122
2   1017310  11.230  338.300  232.770  25.188  171.600  2009123121
3   1017310  12.820  106.400  231.180  25.144  173.000  2009123120
4   1017310  12.680  238.600  231.320  25.148  172.000  2009123119
5   1017310  14.170  543.100  229.830  25.106  176.500  2009123118
6   1017310  14.980  -94.100  229.020  25.084  172.600  2009123117
7   1017310  13.950  287.000  230.050  25.112  170.300  2009123116
8   1017310  13.680  -27.800  230.330  25.120  172.200  2009123115
9   1017310  12.960  175.000  231.040  25.140  175.000  2009123114
10  1017310  13.880  223.200  230.120  25.114  173.200  2009123113
11  1017310  14.790  273.500  229.210  25.089  173.500  2009123112
12  1017310  15.160  173.600  228.840  25.079  173.600  2009123111
13  1017310  14.520  171.300  229.480  25.097  171.300  2009123110
14  1017310  14.390  174.200  229.610  25.100  174.200  2009123109
15  1017310  13.800  164.300  230.200  25.116  164.300  2009123108
16  1017310  13.340   27.900  230.660  25.129  127.900  2009123107
17  1017310  13.010  115.200  230.990  25.139  131.800  2009123106
18  1017310  12.960  131.800  231.040  25.140  131.800  2009123105
19  1017310  12.960  129.800  231.040  25.140  129.800  2009123104
20  1017310  12.960  131.800  231.040  25.140  131.800  2009123103
21  1017310  12.490   66.100  231.510  25.153  132.700  2009123102
22  1017310  12.750  182.800  231.250  25.146  132.800  2009123101
23  1017310  12.520   79.700  231.480  25.152  129.700  2009123100
24  1003110                                             2009123123
25  1003110                                             2009123122
26  1003110                                             2009123121
27  1003110                                             2009123120
28  1003110                                             2009123119
29  1003110                                             2009123118
30  1003110                                             2009123117
31  1003110                                             2009123116
32  1003110                                             2009123115
33  1003110                                             2009123114
34  1003110                                             2009123113
35  1003110                                             2009123112
36  1003110                                             2009123111
37  1003110                                             2009123110
38  1003110                                             2009123109
39  1003110                                             2009123108
40  1003110                                             2009123107
41  1003110                                             2009123106
42  1003110                                             2009123105
43  1003110                                             2009123104
44  1003110                                             2009123103
45  1003110                                             2009123102
46  1003110                                             2009123101
47  1003110                                             2009123100

In [8]:
dam_df.sort_values(by=['dmobscd','ymdhm'])

    dmobscd    ecpc      inf      sfw     swl   tototf       ymdhm
47  1003110                                             2009123100
46  1003110                                             2009123101
45  1003110                                             2009123102
44  1003110                                             2009123103
43  1003110                                             2009123104
42  1003110                                             2009123105
41  1003110                                             2009123106
40  1003110                                             2009123107
39  1003110                                             2009123108
38  1003110                                             2009123109
37  1003110                                             2009123110
36  1003110                                             2009123111
35  1003110                                             2009123112
34  1003110                                             2009123113
33  1003110                                             2009123114
32  1003110                                             2009123115
31  1003110                                             2009123116
30  1003110                                             2009123117
29  1003110                                             2009123118
28  1003110                                             2009123119
27  1003110                                             2009123120
26  1003110                                             2009123121
25  1003110                                             2009123122
24  1003110                                             2009123123
23  1017310  12.520   79.700  231.480  25.152  129.700  2009123100
22  1017310  12.750  182.800  231.250  25.146  132.800  2009123101
21  1017310  12.490   66.100  231.510  25.153  132.700  2009123102
20  1017310  12.960  131.800  231.040  25.140  131.800  2009123103
19  1017310  12.960  129.800  231.040  25.140  129.800  2009123104
18  1017310  12.960  131.800  231.040  25.140  131.800  2009123105
17  1017310  13.010  115.200  230.990  25.139  131.800  2009123106
16  1017310  13.340   27.900  230.660  25.129  127.900  2009123107
15  1017310  13.800  164.300  230.200  25.116  164.300  2009123108
14  1017310  14.390  174.200  229.610  25.100  174.200  2009123109
13  1017310  14.520  171.300  229.480  25.097  171.300  2009123110
12  1017310  15.160  173.600  228.840  25.079  173.600  2009123111
11  1017310  14.790  273.500  229.210  25.089  173.500  2009123112
10  1017310  13.880  223.200  230.120  25.114  173.200  2009123113
9   1017310  12.960  175.000  231.040  25.140  175.000  2009123114
8   1017310  13.680  -27.800  230.330  25.120  172.200  2009123115
7   1017310  13.950  287.000  230.050  25.112  170.300  2009123116
6   1017310  14.980  -94.100  229.020  25.084  172.600  2009123117
5   1017310  14.170  543.100  229.830  25.106  176.500  2009123118
4   1017310  12.680  238.600  231.320  25.148  172.000  2009123119
3   1017310  12.820  106.400  231.180  25.144  173.000  2009123120
2   1017310  11.230  338.300  232.770  25.188  171.600  2009123121
1   1017310  10.750  171.500  233.250  25.201  171.500  2009123122
0   1017310  12.390   42.600  231.610  25.156  176.000  2009123123

In [9]:
dam_names = {
    '1017310': 'Chungju Dam',
    '1003110': 'Paldang Dam'
}

# 'dam_name' 열 추가
dam_df['dam_name'] = dam_df['dmobscd'].map(dam_names)
dam_df

,dmobscd,ecpc,inf,sfw,swl,tototf,ymdhm,dam_name
0,1017310,12.390,42.600,231.610,25.156,176.000,2009123123,Chungju Dam
1,1017310,10.750,171.500,233.250,25.201,171.500,2009123122,Chungju Dam
2,1017310,11.230,338.300,232.770,25.188,171.600,2009123121,Chungju Dam
3,1017310,12.820,106.400,231.180,25.144,173.000,2009123120,Chungju Dam
4,1017310,12.680,238.600,231.320,25.148,172.000,2009123119,Chungju Dam
5,1017310,14.170,543.100,229.830,25.106,176.500,2009123118,Chungju Dam
6,1017310,14.980,-94.100,229.020,25.084,172.600,2009123117,Chungju Dam
7,1017310,13.950,287.000,230.050,25.112,170.300,2009123116,Chungju Dam
8,1017310,13.680,-27.800,230.330,25.120,172.200,2009123115,Chungju Dam
9,1017310,12.960,175.000,231.040,25.140,175.000,2009123114,Chungju Dam
10,1017310,13.880,223.200,230.120,25.114,173.200,2009123113,Chungju Dam
11,1017310,14.790,273.500,229.210,25.089,173.500,2009123112,Chungju Dam
12,1017310,15.160,173.600,228.840,25.079,173.600,2009123111,Chungju Dam
13,1017310,14.520,171.300,229.480,25.097,171.300,2009123110,Chungju Dam
14,1017310,14.390,174.200,229.610,25.100,174.200,2009123109,Chungju Dam
15,1017310,13.800,164.300,230.200,25.116,164.300,2009123108,Chungju Dam
16,1017310,13.340,27.900,230.660,25.129,127.900,2009123107,Chungju Dam
17,1017310,13.010,115.200,230.990,25.139,131.800,2009123106,Chungju Dam
18,1017310,12.960,131.800,231.040,25.140,131.800,2009123105,Chungju Dam
19,1017310,12.960,129.800,231.040,25.140,129.800,2009123104,Chungju Dam
20,1017310,12.960,131.800,231.040,25.140,131.800,2009123103,Chungju Dam
21,1017310,12.490,66.100,231.510,25.153,132.700,2009123102,Chungju Dam
22,1017310,12.750,182.800,231.250,25.146,132.800,2009123101,Chungju Dam
23,1017310,12.520,79.700,231.480,25.152,129.700,2009123100,Chungju Dam
24,1003110,,,,,,2009123123,Paldang Dam
25,1003110,,,,,,2009123122,Paldang Dam
26,1003110,,,,,,2009123121,Paldang Dam
27,1003110,,,,,,2009123120,Paldang Dam
28,1003110,,,,,,2009123119,Paldang Dam
29,1003110,,,,,,2009123118,Paldang Dam
30,1003110,,,,,,2009123117,Paldang Dam
31,1003110,,,,,,2009123116,Paldang Dam
32,1003110,,,,,,2009123115,Paldang Dam
33,1003110,,,,,,2009123114,Paldang Dam
34,1003110,,,,,,2009123113,Paldang Dam
35,1003110,,,,,,2009123112,Paldang Dam
36,1003110,,,,,,2009123111,Paldang Dam
37,1003110,,,,,,2009123110,Paldang Dam
38,1003110,,,,,,2009123109,Paldang Dam
39,1003110,,,,,,2009123108,Paldang Dam
40,1003110,,,,,,2009123107,Paldang Dam
41,1003110,,,,,,2009123106,Paldang Dam
42,1003110,,,,,,2009123105,Paldang Dam
43,1003110,,,,,,2009123104,Paldang Dam
44,1003110,,,,,,2009123103,Paldang Dam
45,1003110,,,,,,2009123102,Paldang Dam
46,1003110,,,,,,2009123101,Paldang Dam
47,1003110,,,,,,2009123100,Paldang Dam

In [13]:
dam_data = pd.read_csv('2010~2023_dam.csv')

C:\Users\CHAEMIN\AppData\Local\Temp\ipykernel_10924\995785130.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dam_data = pd.read_csv('2010~2023_dam.csv')

,dmobscd,ecpc,inf,sfw,swl,tototf,ymdhm,dam_name
0,1017310,12.390,42.600,231.610,25.156,176.000,2009123123,Chungju Dam
1,1017310,10.750,171.500,233.250,25.201,171.500,2009123122,Chungju Dam
2,1017310,11.230,338.300,232.770,25.188,171.600,2009123121,Chungju Dam
3,1017310,12.820,106.400,231.180,25.144,173.000,2009123120,Chungju Dam
4,1017310,12.680,238.600,231.320,25.148,172.000,2009123119,Chungju Dam
...,...,...,...,...,...,...,...,...
245281,1003110,800.764,0.000,1730.442,135.13,0.0,2023010104,Paldang Dam
245282,1003110,800.764,0.000,1730.442,135.13,0.0,2023010103,Paldang Dam
245283,1003110,800.764,0.000,1730.442,135.13,0.0,2023010102,Paldang Dam
245284,1003110,800.764,0.000,1730.442,135.13,0.0,2023010101,Paldang Dam
245285,1003110,800.764,187.250,1730.442,135.13,0.0,2023010100,Paldang Dam

In [14]:
dam_df = pd.concat([dam_df, dam_data])

In [19]:
dam_df.sort_values(by=['dmobscd', 'ymdhm']).reset_index(drop=True)

,dmobscd,ecpc,inf,sfw,swl,tototf,ymdhm,dam_name
0,1003110,NaN,NaN,NaN,NaN,NaN,2010010100,Paldang Dam
1,1003110,NaN,NaN,NaN,NaN,NaN,2010010101,Paldang Dam
2,1003110,NaN,NaN,NaN,NaN,NaN,2010010102,Paldang Dam
3,1003110,NaN,NaN,NaN,NaN,NaN,2010010103,Paldang Dam
4,1003110,NaN,NaN,NaN,NaN,NaN,2010010104,Paldang Dam
...,...,...,...,...,...,...,...,...
245329,1017310,12.680,238.600,231.320,25.148,172.000,2009123119,Chungju Dam
245330,1017310,12.820,106.400,231.180,25.144,173.000,2009123120,Chungju Dam
245331,1017310,11.230,338.300,232.770,25.188,171.600,2009123121,Chungju Dam
245332,1017310,10.750,171.500,233.250,25.201,171.500,2009123122,Chungju Dam
245333,1017310,12.390,42.600,231.610,25.156,176.000,2009123123,Chungju Dam

In [25]:
dam_df.to_csv('2010~2023_dam.csv',index=False, encoding='utf-8')

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

data = pd.read_csv('2000~2023_water_level.csv')
rain = pd.read_csv('2000~2023_rainfall.csv')

observatory_codes = [1018640, 1018655, 1018658, 1018662, 1018669, 
                     1018670, 1018675, 1018680, 1018683, 1018692,
                     1018695, 1018697, 1018698, 1019630]
observatory_codes = [str(code) for code in observatory_codes]

bridge_dict = {
    1018640: "Gwangjin Bridge", 1018655: "Daegok Bridge", 1018658: "Daechi Bridge",
    1018662: "Cheongdam Bridge", 1018669: "Changdong Bridge", 1018670: "Wolgye 2 Bridge",
    1018675: "Jungrang Bridge", 1018680: "Jamsu Bridge", 1018683: "Hangang Bridge",
    1018692: "Sinlim 5 Bridge", 1018695: "Neobu Bridge", 1018697: "Ogeum Bridge",
    1018698: "Sindae Bang 1 Bridge", 1019630: "Haengju Bridge"
}
bridge_names = [
    "Gwangjin Bridge", "Daegok Bridge", "Daechi Bridge", "Cheongdam Bridge",
    "Changdong Bridge", "Wolgye 2 Bridge", "Jungrang Bridge", "Jamsu Bridge",
    "Hangang Bridge", "Sinlim 5 Bridge", "Neobu Bridge", "Ogeum Bridge",
    "Sindae Bang 1 Bridge", "Haengju Bridge"
]

# observatory_codes 열의 값을 영어 다리 이름으로 대체
data['observatory'] = data['wlobscd'].map(bridge_dict)
rain['observatory'] = rain['rfobscd'].map(bridge_dict)

In [13]:
rain

          rf  rfobscd       ymdhm           observatory
0        0.0  1018670  2000010123       Wolgye 2 Bridge
1        0.0  1018640  2000010123       Gwangjin Bridge
2        0.0  1018697  2000010123          Ogeum Bridge
3        0.0  1018658  2000010123         Daechi Bridge
4        0.0  1018662  2000010123      Cheongdam Bridge
...      ...      ...         ...                   ...
2943439  0.0  1018697  2023123123          Ogeum Bridge
2943440  0.0  1018698  2023123123  Sindae Bang 1 Bridge
2943441  0.0  1018640  2023123123       Gwangjin Bridge
2943442  0.0  1018662  2023123123      Cheongdam Bridge
2943443  0.0  1018658  2023123123         Daechi Bridge

[2943444 rows x 4 columns]

In [14]:
data['rf'] = rain['rf']
data.fillna(0, inplace=True)

data

             fw    wl  wlobscd       ymdhm           observatory   rf
0          0.00  0.00  1018670  2000010123       Wolgye 2 Bridge  0.0
1          0.00  0.00  1018640  2000010123       Gwangjin Bridge  0.0
2          0.00  0.00  1018697  2000010123          Ogeum Bridge  0.0
3          0.00  0.00  1018658  2000010123         Daechi Bridge  0.0
4          0.00  0.00  1018662  2000010123      Cheongdam Bridge  0.0
...         ...   ...      ...         ...                   ...  ...
2943439    9.00  0.80  1018697  2023123123          Ogeum Bridge  0.0
2943440    0.32  0.57  1018698  2023123123  Sindae Bang 1 Bridge  0.0
2943441  124.87  1.13  1018640  2023123123       Gwangjin Bridge  0.0
2943442  264.07  1.03  1018662  2023123123      Cheongdam Bridge  0.0
2943443    0.88  1.50  1018658  2023123123         Daechi Bridge  0.0

[2943444 rows x 6 columns]

In [ ]:
data.to_csv('2010~2023_HanRiver_data', encoding=)

In [ ]:
# 데이터를 저장할 빈 리스트 생성
all_data = []

# URL 기본 부분
base_url = 'https://api.hrfco.go.kr/52832662-D130-4239-9C5F-730AD3BE6BC6/rainfall/list/1H/'

for code in observatory_codes:
    # 시작 날짜 설정
    start_date = datetime(2010, 1, 1, 0, 0)
    end_date = datetime(2010, 12, 31, 23, 0)
    # 시작 날짜부터 끝 날짜까지 데이터 가져오기
    while start_date <= datetime(2023, 12, 31, 23, 0):
        # 날짜를 문자열로 변환하여 URL에 포함
        start_date_str = start_date.strftime('%Y%m%d%H')
        end_date_str = end_date.strftime('%Y%m%d%H')
        url = base_url + code + '/' + start_date_str + '/' + end_date_str + '.xml'
        print(code, start_date, end_date)
        # URL 불러오기
        response = requests.get(url)

        # XML 파싱
        tree = ET.ElementTree(ET.fromstring(response.content))

        # DataFrame으로 변환
        data = []
        for rainfall in tree.iter('Rainfall'):
            rf = rainfall.findtext('rf').strip() if rainfall.find('rf') is not None else None
            rfobscd = rainfall.findtext('rfobscd').strip() if rainfall.find('rfobscd') is not None else None
            ymdhm = rainfall.findtext('ymdhm').strip() if rainfall.find('ymdhm') is not None else None

            data.append({'rf': rf, 'rfobscd': rfobscd, 'ymdhm': ymdhm})

        # 전체 데이터 리스트에 추가
        all_data.extend(data)

        # 다음 연도로 이동
        start_date = datetime(start_date.year + 1, 1, 1, 0, 0)
        end_date = datetime(end_date.year + 1, 12, 31, 23, 0)

# DataFrame 생성
rainfall_df = pd.DataFrame(all_data)
rainfall_df

In [3]:
import requests
from xml.etree import ElementTree

# 요청할 URL을 설정합니다.
url = 'https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=2010010100&stn=0&help=1&authKey=oChwlojFS7aocJaIxcu2ow'

# 헤더 설정
headers = {'Content-Type': 'application/xml'}

# GET 요청을 보내고 응답을 받습니다.
response = requests.get(url, headers=headers)

# 응답을 XML로 파싱합니다.
xml_tree = ElementTree.fromstring(response.content)

# XML 데이터를 처리하거나 필요한 정보를 추출합니다.
# 예시: XML 요소의 내용 출력
for element in xml_tree.iter():
    print(element.tag, element.text)

ParseError: syntax error: line 1, column 0 (<string>)

In [5]:
import requests  # requests 모듈 임포트

def download_file(file_url, save_path):
    with open(save_path, 'wb') as f: # 저장할 파일을 바이너리 쓰기 모드로 열기
        response = requests.get(file_url) # 파일 URL에 GET 요청 보내기
        f.write(response.content) # 응답의 내용을 파일에 쓰기

# URL과 저장 경로 변수를 지정합니다.
url = 'https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=2010010100&stn=0&help=1&authKey=oChwlojFS7aocJaIxcu2ow'
save_file_path = 'output.zip'

# 파일 다운로드 함수를 호출합니다.
download_file(url, save_file_path)

In [7]:
import requests

def download_file(file_url, save_path):
    try:
        response = requests.get(file_url)
        
        if response.status_code == 200:
            with open(save_path, 'wb') as f:
                f.write(response.content)
            print(f"File downloaded successfully and saved to {save_path}")
            
            # 다운로드된 파일 내용 확인
            with open(save_path, 'rb') as f:
                file_content = f.read(100)  # 처음 100바이트만 읽기
            print("First 100 bytes of the file:")
            print(file_content)
            
        else:
            print(f"Failed to download file. Status code: {response.status_code}")
    except requests.exceptions.RequestException as e:
        print(f"An error occurred: {e}")

# URL과 저장 경로 변수를 지정합니다.
url = 'https://apihub.kma.go.kr/api/typ01/url/kma_sfctm2.php?tm=2010010100&stn=0&help=1&authKey=oChwlojFS7aocJaIxcu2ow'
save_file_path = '1111.zip'

# 파일 다운로드 함수를 호출합니다.
download_file(url, save_file_path)

File downloaded successfully and saved to 1111.zip
First 100 bytes of the file:
b'#START7777\n#----------------------------------------------------------------------------------------'